.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-settings-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 5vw;
  height: 5vw;
  background-image: url('/sliders.svg');
  background-size: contain;
}

.App-header-info-button {
  position: absolute;
  right: -0;
  top: 0;
  width: 5vw;
  height: 5vw;
  background-image: url('/info.svg');
  background-size: contain;
}

.App-button {
  min-height: 5vh;
  min-width: 30vh;
  font-size: 2vh;
  margin: 1vh;
}

.App-header-filtergroup {
  margin: 1vh;
}

.App-header-filter {
  display: inline-block;
  font-size: 2vh;
  margin: 1vh;
}

.App-header-filter input {
  width: 1.5vh;
  height: 1.5vh;
}

.App-main-content {
  margin-left: 10vw;
  margin-right: 10vw;
}

.App-main-name {
  font-size: 2vh;
}

.App-main-photo {
  max-height: 33vh;
}

.App-main-story {
}

.App-main-youtube {
  width: 80vw;
  height: 50vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
